.loader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.delay-1 {
animation-delay: .10s;
}
.delay-2 {
animation-delay: .20s;
}
.delay-3 {
animation-delay: .30s;
}
.delay-4 {
animation-delay: .40s;
}