button{
  margin-bottom: 15px;
  padding: 5px;
  font-weight: bold;
  font-size:13px;  
}

.wrapper-btn-reload {
  display: flex;
  justify-content: flex-start;
}
.wrapper-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}