.article {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  height: 200px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

.title {
  font-size: 1.2rem;
}

.content {
  font-size: 16px;
}

@media screen and (max-width: 670px) {
  .content {
    font-size: 14px;
  }
}